body
{
	overflow: hidden;
	margin: 0px;
    vertical-align:middle;
	font-family: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-weight: 100;
}

#splashscreen
{
	height: 100%;
	background-color: khaki;
}

#menubar
{
	height: 10%;
	background-color: white;
	opacity: .35;
}

#imgprevious
{
	height: 85%;
	border-radius: 25px;
	margin-top: 4px;
	margin-left: 15px;
}

.center
{
	text-align: center;
	color: white;
}