.cell
{
    display: table;
	position: relative;
	width: 33%;
	height: 100%;
	float: left;
}
.column
{
	width: 100%;
	height: 33%;
}

.mainlabel
{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
}

.cell .mainlabel
{
	color: white;
	text-align: center;
	font-family: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 25px;
	font-weight: 100;
}

.cell .mainlabel p
{
	margin-bottom: 10px;
	padding-bottom: 0px;
}

.cell .tilebutton
{
	position: absolute;
	top: 7%;
	left: 7%;
	width:86%;
	height:65%;
	border-radius: 10px;
	border-style:solid;
	border-width:1px;
	color: white;
	display: table-cell;
    vertical-align: middle;
}

.tilebutton p 
{
    padding-top:8%;
}

#mainview
{
	position:relative;
	height:90%;
}

.redtile
{
	background-color: white;
	opacity: .75;
}

#redcell
{
	background-color: red;
}

.orangetile
{
	
}

#orangecell
{
	background-color: #FF800D;
}

.yellowtile
{
	
}

#yellowcell
{
	background-color: #FFFF00;
}

.greentile
{
	
}

#greencell
{
	background-color: #48FB0D;
}

.bluetile
{
	
}

#bluecell
{
	background-color:  #0000FF;
}

.purpletile
{
	
}

#purplecell
{
	background-color: #B300B3;
}


#blackcell
{
	background-color: black;
}

#pinkcell
{
	background-color: #FF0099;
}



#browncell
{
	background-color: #C98A4B;
}

#tileview
{
	text-align: center;
	width:100%;
	height: 90%
}