#mainmenu
{
	height:100%;
}

#maintitle
{
	height: 40%;
	width: 100%;
	background-color: orange;
}

.menuicon
{
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5%;
    height:65%;
    bottom:0;
}

#learn
{
	height: 60%;
	width: 50%;
	background-color: green;
	float: left;
}

#play
{
	height: 60%;
	width: 50%;	
	background-color:purple;
	float:left;
}

