.cell
{
    display: table;
	position: relative;
	width: 33%;
	height: 100%;
	float: left;
}
.column
{
	width: 100%;
	height: 33%;
}


.cell .tilebutton
{
	position: absolute;
	top: 7%;
	left: 7%;
	width:86%;
	height:86%;
	border-radius: 10px;
	border-style:solid;
	border-width:1px;
	color: white;
	display: table-cell;
    vertical-align: middle;
	text-align: center;
	font-family: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 30px;
	font-weight: 100;
}

.tilebutton p 
{
    padding-top:8%;
}

#mainview
{
	position:relative;
	height:90%;
}

.redtile
{
	background-color: #FF2626;
}

#redcell
{
	background-color: red;
}

.orangetile
{
	background-color: #FF800D;
}

#orangecell
{
	background-color: orange;
}

.yellowtile
{
	background-color: #FFFF00;
}

#yellowcell
{
	background-color: yellow;
}

.greentile
{
	background-color: #48FB0D;
}

#greencell
{
	background-color: green;
}

.bluetile
{
	background-color: #0000FF;
}

#bluecell
{
	background-color: blue;
}

.purpletile
{
	background-color: #B300B3;
}

#purplecell
{
	background-color: purple;
}

.blacktile
{
	background-color: black;
}

#blackcell
{
	background-color: black;
}

.pinktile
{
	background-color: #FF0099;
}

#pinkcell
{
	background-color: pink;
}

.browntile
{
	background-color: #C98A4B;
}

#browncell
{
	background-color: brown;
}

#tileview
{
	text-align: center;
	width:100%;
	height: 90%
}