#mainmenu
{
	height:100%;
}

#maintitle
{
	height: 40%;
	width: 100%;
	background-color: #8D3A61;
}

.menuicon
{
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    height: 35%;
    bottom:0;
}

#learn
{
	height: 60%;
	width: 50%;
	background-color: #2bbbd8;
	float: left;
}

#play
{
	height: 60%;
	width: 50%;	
	background-color: #f78d3f;
	float:left;
}

