.smalltile
{
	position: relative;
	width: 33%;
	height: 100%;
	float: left;
}
.column
{
	width: 100%;
	height: 33%;
}

body
{
	margin: 0px;
}

#main
{
	opacity: 0;
}

#menubar
{
	height: 10%;
	background: darkblue;
}

#previousview
{
	width: 16px;
	height: 16px;
	visibility: hidden;
}


#mainview
{
	position:relative;
	height:90%;
}

#redtile
{
	background-color: red;
}
#orangetile
{
	background-color: orange;
}
#yellowtile
{
	background-color: yellow;
}

#greentile
{
	background-color: green;
}

#bluetile
{
	background-color: blue;
}

#purpletile
{
	background-color: purple;
}

#blacktile
{
	background-color: black;
}

#whitetile
{
	background-color: white;
}

#browntile
{
	background-color: brown;
}

#tileview
{
	width:100%;
	height: 90%
}